body{
	margin: 0;
}
.navfixed{
	    position: fixed;
    top: 0;
    width: 100%;
    background: white;
}
.main{
	margin: 0 110px;
}
.header{
	width: 100%;
	background-color:white;
}
.logo{
	width: 30%;
    float: left;
    font-size: 1.2rem;
    font-weight: 700;
    color: #0061f2;
    margin: 30px 0px;
}
.navbar{

	width: 70%;
	float: left;
	margin-top: 25px;
}
.hs{
	font-family: sans-serif;
	font-size: 18px;
	margin: 15px;
	text-decoration: none;
}


.section-1{
	margin: 0 110px;
}
.section-a{
	width: 100%;
	margin-top: 100px;
	background-color: white;
}
.text{
	width: 50%;
	float: left;
	font-size: 25px;
}
.image{
	width: 50%;
	float: left;
}
.section-2{
     margin: 0 110px;
    background-color:#e9eef6;;
  
}
img{
	width: 100%;
}
.section-b{
    width: 100%;
    text-align: center;
    font-size: 18px;
    overflow:hidden;
}
.PLtext{
	padding: 0 200px;
}
.card {
    width: 31%;
    float: left;
    padding: 10px;
   
}
.card h6{
	font-size:1rem;
	font-family:arial;
	text-align:center;
	padding: 0px;
    margin: 11px;
}
.section-3{
	margin: 0 110px;
}
.section-c{
	text-align: center;
	padding: 0 200px;
	font-size: 18px;
}
.footer-1{
	width: 20%;
	float: left;
}
.footer-2{
	width: 20%;
	float: left;
}
.footer-3{
	width: 20%;
	float: left;
}
.footer-4{
	width: 20%;
	float: left;

}
.footer-5{
	width: 20%;
	float: left;
}
.ul{
	list-style-type: none;
}
.copyright{
	text-align: center;
	margin: 0;

}
.tearm{
	text-align: right;
	margin: 0;
	text-decoration: none;
}
.footer{
	background-color:#f0f5ff;
	text-decoration: none;
}
.footermain{
	margin: 0 110px;
}
